<!-- Tempelkan code untuk header -->
<header>
  <div class="header-logo">
    TweetApp
  </div>
  <ul class="header-menus">
    <li>Tentang</li>
  </ul>
</header>

<div class="about-main">
  <h2>Tentang TweetApp</h2>
  <p>
    TweetApp adalah sebuah layanan jejaring sosial.
    Para pengguna dapat posting dan berinteraksi dengan pesan singkat yang disebut "twit".
  </p>
</div>